appdirs==1.4.3
asn1crypto==0.24.0
click==7.1.1
configparser==4.0.2
contextlib2==0.6.0.post1
cryptography==2.1.4
distlib==0.3.0
enum34==1.1.6
filelock==3.0.12
Flask==1.1.2
idna==2.6
importlib-metadata==1.6.0
importlib-resources==1.4.0
ipaddress==1.0.17
itsdangerous==1.1.0
Jinja2==2.11.2
keyring==10.6.0
keyrings.alt==3.0
MarkupSafe==1.1.1
mysql-connector-python==2.1.6
mysql-utilities==1.6.4
paramiko==2.0.0
pathlib2==2.3.5
pexpect==4.2.1
pyasn1==0.4.2
pycrypto==2.6.1
pygobject==3.26.1
pyodbc==4.0.17
pysqlite==2.7.0
pyxdg==0.25
scandir==1.10.0
SecretStorage==2.3.1
singledispatch==3.4.0.3
six==1.14.0
typing==3.7.4.1
virtualenv==20.0.18
Werkzeug==1.0.1
zipp==1.2.0
