asn1crypto==0.24.0
click==7.1.1
cryptography==2.1.4
enum34==1.1.6
Flask==1.1.2
idna==2.6
ipaddress==1.0.17
itsdangerous==1.1.0
Jinja2==2.11.2
keyring==10.6.0
keyrings.alt==3.0
MarkupSafe==1.1.1
mysql-connector-python==2.1.6
mysql-utilities==1.6.4
paramiko==2.0.0
pexpect==4.2.1
pyasn1==0.4.2
pycrypto==2.6.1
pygobject==3.26.1
pyodbc==4.0.17
pysqlite==2.7.0
pyxdg==0.25
SecretStorage==2.3.1
six==1.11.0
Werkzeug==1.0.1
